@import '../../styles/variables';

.history {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f4f4f4;
}

.background {
    position: absolute;
    top: -10%; // Allow movement
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/img/history-bg.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.contentWrapper {
    position: relative;
    z-index: 1;
    padding: 0 1rem;
}

.content {
    text-align: center;
    padding: 4rem 3rem;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $color-text-main;
}

.text {
    font-size: 1.2rem;
    color: $color-text-body;
    margin-bottom: 3rem;
    line-height: 1.8;
}